* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: space-evenly;
    height: 4.5vh;
    text-align: center;
    align-items: center;
    overflow: hidden;
    background: white;
}

li{
   list-style-type: none;
}

a {
    text-decoration: none;
}


nav .title{
    font-size: 2rem;
    font-weight: 400;
}

button {
    padding: 10px;
    width: 30%;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid;
}

.nav-links > li > a {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
    height: inherit;
    color: black;
}

.app-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    text-align: center;
}

.app-container h2{
    font-size: 3.75rem;
    padding: 10px;
    font-weight: 400;
    margin-bottom: 1rem;
    background: black;
    color: white;
    border-radius: 5px;
}

@media(max-width: 768px){
    .app-container{
        width: 90%;
    }

    nav{
        height: 10.5vh;
    }

    .nav-links > li > a {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 1rem;
        word-wrap: normal;
    }
}

